@import "variables";
@import "../components/button";

@mixin button1Idle {
  background-color: $color-dark-blue;
  padding: 1rem 1.5rem;
  @extend %button;
}

@mixin button2Idle {
  background: linear-gradient($color-orange, $color-magenta);
  padding: 1rem 2rem;
  @extend %button;
}

@mixin paragraph {
  color: $color-gray;
  font-size: $body-S;
  font-weight: $weight-medium;
  line-height: $lineHeight-body;
}

@mixin paddingBoxes {
  padding: 1.6rem 1.5rem;
}
