@import "variables";
@import "../components/button";

@mixin wideButton {
  padding: .9rem 1.5rem;
}

@mixin narrowButton {
  padding: .7rem 1.5rem;
}

@mixin button1Idle {
  background-color: $color-dark-blue;
  @include narrowButton;
  @extend %button;
}

@mixin button2Idle {
  background: linear-gradient($color-orange, $color-magenta);
  @include wideButton;
  @extend %button;
}

@mixin button3Idle {
  background: linear-gradient($color-blue, $color-magenta);
  @include narrowButton;
  @extend %button;
}

@mixin paragraph {
  color: $color-gray;
  font-size: $body-S;
  font-weight: $weight-medium;
  line-height: $lineHeight-body;
}

@mixin paddingBoxes {
  padding: 1.6rem 1.5rem;
}
