@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;800&display=swap');
@import "helpers/variables";
@import "helpers/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  background: linear-gradient($color-white, #F0F1FF);
}

header {
  margin: 1rem 1rem 0 1rem;
  .logoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button1Idle {
      @include button1Idle;
    }

    .button1Idle:hover {
      @include button1IdleHover;
    }
  }

  .lead {
    font-size: $heading-L;
    color: $color-dark-blue;
    line-height: $lineHeight-L;
  }

  p {
    @include paragraph;
    margin-bottom: 1.2rem;
  }

  .button2Idle {
    @include button2Idle;
    margin-bottom: 2rem;
  }

  .button2Idle:hover {
    @include button2IdleHover;
  }

  .heroImage {
    max-width: 100%;
    display: block;
    margin: auto;
  }
}

main {
  margin: 0 1rem 1rem 1rem;
  .leadCourses {
    font-size: $heading-S;
    font-weight: $weight-extra-bold;
    color: $color-white;
    background: $color-gradient-orange;
    @include paddingBoxes;
    border-radius: .5rem;
    margin-top: 0;
  }

  .course {
    background: $color-white;
    padding: 0 1.5rem 2rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    .coursesImages {
      display: block;
      position: relative;
      bottom: 1.3rem;
    }

    &:nth-of-type(1) {
      margin-top: 2rem;
    }

    &:nth-of-type(5) {
      margin-bottom: 4rem;
    }

    .coursesHeadings {
      color: $color-dark-blue;
      margin-top: 0;
    }

    .coursesParagraphs {
      @include paragraph;
    }

    .ctaLink {
      color: $color-magenta;
      font-weight: $weight-bold;
      text-decoration: none;
      transition: color .5s ease;
    }

    .ctaLink:hover {
      color: $color-light-magenta;
    }
  }
}

footer {
  background-color: $color-dark-blue;
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  .button3Idle {
    @include button3Idle;
  }

  .button3Idle:hover {
    @include button3IdleHover;
  }
}

@media(min-width: 768px) {
  header {
    margin-bottom: 12rem;
    .container {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 60% 40%;
      .lead {
        margin-top: 2em;
      }
    }
    picture {
      position: absolute;
      z-index: -2;
      width: 100%;
      height: 100%;
    }
    .heroImage {
      position: relative;
      left: 18rem;
      bottom: 8rem;
      z-index: -1;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1rem;
    & .leadCourses,
    & .course {
      flex: 1 0 calc(50% - 2rem);
      margin-bottom: 0;
      &:nth-of-type(1) {
        margin-top: 0;
      }

      &:nth-of-type(5) {
        margin-bottom: 0;
      }
    }
    & .course:nth-last-child(-n+2) {
      margin-bottom: 4rem;
    }
  }
}

@media(min-width: 1024px) {
  header {
    margin-inline: 6rem;
    margin-bottom: 18rem;
    .container {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      .lead {
        margin-top: 2.5em;
      }
      .button2Idle {
        margin: 1rem 0;
      }
    }
    picture {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .heroImage {
      position: relative;
      left: 16rem;
      bottom: 12rem;
      z-index: -1;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1rem;
    margin-inline: 6rem;
    & .leadCourses,
    & .course {
      flex: 1 0 calc(33% - 2rem);
      margin-bottom: 0;
      &:nth-of-type(1) {
        margin-top: 0;
      }

      &:nth-of-type(5) {
        margin-bottom: 0;
      }
    }
    & .course:nth-last-child(-n+3) {
      margin-bottom: 4rem;
    }
  }

  footer {
    padding-inline: 6rem;
  }
}

@media(min-width: 1920px) {
  header {
    margin-inline: 18rem;
    margin-bottom: 22rem;
    .container {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      .lead {
        margin-top: 2.5em;
      }
      .button2Idle {
        margin: 1rem 0;
      }
    }
    picture {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .heroImage {
      position: relative;
      left: 16rem;
      bottom: 12rem;
      z-index: -1;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1rem;
    margin-inline: 18rem;
    & .leadCourses,
    & .course {
      flex: 1 0 calc(33% - 2rem);
      margin-bottom: 0;
      &:nth-of-type(1) {
        margin-top: 0;
      }

      &:nth-of-type(5) {
        margin-bottom: 0;
      }
    }
    & .course:nth-last-child(-n+3) {
      margin-bottom: 4rem;
    }
  }

  footer {
    padding-inline: 18rem;
  }
}
