@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;800&display=swap');
@import "helpers/variables";
@import "helpers/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
}

body {
  margin: 1rem;
  background-color: aliceblue;
}

header {
  .logoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button1Idle {
      @include button1Idle;
    }
  }

  .lead {
    font-size: $heading-L;
    color: $color-dark-blue;
    line-height: $lineHeight-L;
  }

  p {
    @include paragraph;
    margin-bottom: 1.2rem;
  }

  .button2Idle {
    background-color: $color-dark-blue;
    @include button2Idle;
    margin-bottom: 2rem;
  }

  .heroImage {
    width: 100%;
    display: block;
    margin: auto;
  }
}

main {
  .leadCourses {
    font-size: $heading-S;
    font-weight: $weight-extra-bold;
    color: $color-white;
    background: $color-gradient-orange;
    @include paddingBoxes;
    border-radius: .5rem;
  }

  .course {
    background: $color-white;
    padding: 0 1.5rem 2rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    .coursesImages {
      display: block;
      position: relative;
      bottom: 1.3rem;
    }

    &:nth-of-type(1) {
      margin-top: 2rem;
    }

    .coursesHeadings {
      color: $color-dark-blue;
      margin-top: 0;
    }

    .coursesParagraphs {
      @include paragraph;
    }

    .ctaLink {
      color: $color-magenta;
      font-weight: $weight-bold;
      text-decoration: none;
    }
  }
}
