/* Typography */

$body-M: 1rem;
$body-S: 0.888888889rem;

$heading-XL: 3.11111111rem;
$heading-L: 2.222222222rem;
$heading-M: 1.777777778rem;
$heading-S: 1.333333333rem;

$lineHeight-XL: 3.888888889rem;
$lineHeight-L: 2.833333333rem;
$lineHeight-M: 2.222222222rem;
$lineHeight-body: 1.555555556rem;

$weight-medium: 500;
$weight-bold: 600;
$weight-extra-bold: 800;

/* Color */
$color-cornflower-blue: #666CA3;
$color-dark-blue: #13183F;
$color-gray: #83869A;
$color-dark-magenta: #F74780;
$color-light-magenta: #FFA7C3;
$color-white: #FFF;
$color-orange: #FF6F48;
$color-magenta: #F02AA6;
$color-blue: #4851FF;

$color-gradient-orange: linear-gradient($color-orange, $color-magenta);
$color-gradient-orange_50: linear-gradient(rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.5) 100%), linear-gradient($color-orange, $color-magenta);
$color-gradient-blue: linear-gradient($color-blue, $color-orange);
$color-gradient-blue_50: linear-gradient(rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.5) 100%), linear-gradient($color-blue, $color-magenta);




